:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  .bg-primary {
    background: #251351;
  }

  .bg-primary:hover {
    background: #1a0e3d;
  }

  .bg-secondary {
    background: #14248A;
  }

  .bg-secondary:hover {
    background: #0f1a69;
  }

  .bg-tertiary {
    background: #B23A48;
  }

  .bg-tertiary:hover {
    background: #8d2d38;
  }
}
